#Ignore temporary files
**/tmp*

#ignore temporary files created by Django
**/__pycache__/
**/migrations/

#Ignore sqlite database
***/db*
**/samples.sqlite3*
**/samples.old*

#Ignore Uploads
**/Uploads/

#Ignore virtualenv
**/venv*
.env

#Ignore PyCHarm Files
**/.project*
**/.pydevproject*

#Ignore config files
**/config*
**/settings*

#Ignore Logs
**/Log*
**/log*

#Ignore script
**/LaunchSc*
