#Ignore temporary files
**/tmp*

#ignore temporary files created by Django
**/__pycache__/
**/migrations/

#Ignore sqlite database
*.sqlite3

#Ignore Uploads
**/Uploads/

#Ignore virtualenv
**/venv/*
.env