{%load static%}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="{% static 'classification/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Malware Analysis Platform</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'classification/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'classification/css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'classification/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'classification/css/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'classification/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />

    <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <script src="{% static 'classification/js/bootstrap.min.js' %}" type="text/javascript"></script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="black">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'classification:index' %}" class="simple-text">
                    Analytics Platform
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'classification:index' %}">
                        <i class="pe-7s-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'classification:filesView' %}">
                        <i class="pe-7s-cloud-upload"></i>
                        <p>Last Analysed</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'classification:malwaresView' %}">
                        <i class="pe-7s-id"></i>
                        <p>Malware Profiles</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'classification:results' %}">
                        <i class="pe-7s-graph1"></i>
                        <p>Results</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="#">
                        <i class="pe-7s-graph1"></i>
                        <p>Statistics</p>
                    </a>
                </li> -->
                <li>
                    <a href="{% url 'classification:parameters' %}">
                        <i class="pe-7s-tools"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'classification:virusTotal' %}">
                        <i class="pe-7s-share"></i>
                        <p>VT Toolkit</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'classification:informations' %}">
                        <i class="pe-7s-info"></i>
                        <p>Informations</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">{{ title }}</div>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard"></i></li></a>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            {% block body %}
            {% endblock %}
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="{% url 'classification:index' %}">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="http://www.manchester.ac.uk/study/postgraduate-research/programmes/research-areas/?code=CS">
                                University
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/gregorygui/digitalforensic">
                                Github
                            </a>
                        </li>
                        <li>
                            <a href="https://winto.xyz">
                               Site
                            </a>
                        </li>
                        <li>
                            <a href="https://www.virustotal.com/">
                               Virus Total
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.linkedin.com/in/gr%C3%A9gory-guillermin-a766a0a9/">Gregory Guillermin</a>, The University of Manchester
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{% static 'classification/js/bootstrap-checkbox-radio-switch.js' %}"></script>

	<!--  Charts Plugin -->
	<!-- <script src="{% static 'classification/js/chartist.min.js' %}"></script> -->

    <!--  Notifications Plugin    -->
    <script src="{% static 'classification/js/bootstrap-notify.js' %}"></script>

    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="{% static 'classification/js/light-bootstrap-dashboard.js' %}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="{% static 'classification/js/demo.js' %}"></script>

</html>
