{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h3 class="title">{{file.name}}</h3>
					<small>{{file.added_date}}</small>
				</div>
				<div class="content">
					<ul class="list-group">
						<li class="list-group-item">Md5: {{file.md5}}</li>
						<li class="list-group-item">SHA256: {{file.sha}}</li>
					</ul>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Entropy</th>
								<th>Packer</th>
								<th>OEP</th>
								<th>Compilation Date</th>
								<th>Size</th>
								<th>Analysis Duration</th>
								<th>Maliciousness</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{file.entropy}}</td>
								<td>{{file.packer}}</td>
								<td>0x{{file.oep}}</td>
								<td>{{file.compile_date}}</td>
								<td>{{file.size}} bytes</td>
								<td>{{file.anaTime}}s</td>
								<td>
									{% if file.maliciousness > 6 %}
									<a class="text-danger" href="{% url 'classification:fileMaliciousness' file.md5 %}">
									{% elif file.maliciousness <= 6 and file.maliciousness >= 4 %}
									<a class="text-warning" href="{% url 'classification:fileMaliciousness' file.md5 %}">
									{% else %}
									<a class="text-success" href="{% url 'classification:fileMaliciousness' file.md5 %}">
									{% endif %}
									{{file.maliciousness}}
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="content">
					<h3 class="title">Sections</h3>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Virtual Address</th>
							</tr>
						</thead>
						<tbody>
							{% for s in sections %}
							<tr>
								<td>{{s.name}}</td>
								<td>0x{{s.va}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="content">
					<h3 class="title">Imports</h3>
					<br/>
					<div class="panel-group">
						{% for i in imports %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a data-toggle="collapse" href="#collapse{{ forloop.counter }}">{{ i.dll }}</a>
								</h5>
							</div>
							<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
								<ul class="list-group">
								{% for e in i.filefct_set.all %}
									<li class="list-group-item">{{ e.function }}</li>
								{% endfor %}
								</ul>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="content">
					<h3 class="title">Exports</h3>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Function</th>
							</tr>
						</thead>
						<tbody>
							{% for e in exports %}
							<tr>
								<td>{{e.function}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<h3 class="title"><a data-toggle="collapse" href="#collapseStrings">Strings</a></h3>
					<br/>
					<ul class="list-group" id="collapseStrings" class="panel-collapse collapse">
					{% for s in strings %}
						<li class="list-group-item">
						{{s.string}}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
				<div class="clearfix">
	    			<a href="{% url 'classification:index' %}"><button class="btn btn-default pull-right">Return</button></a>
	    			<a href="{% url 'classification:delFile' file.md5 %}"><button class="btn btn-danger pull-right">Delete</button></a>
				</div>
		</div>
	</div>
</div>
{% endblock %}