{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h3 class="title">{{name}}</h3>
				</div>
				<div class="content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Md5</th>
								<th>Size</th>
								<th>Analysis Duration</th>
								<th>Added date</th>
								<th>Maliciousness</th>
								<th>Is a Malware ?</th>
							</tr>
						</thead>
						<tbody>
							{% for f in files %}
							<tr>
								<td><a href="{% url 'classification:fileDetails' f.md5 %}">{{f.name}}</a></td>
								<td>{{f.md5}}</td>
								<td>{{f.size}} bytes</td>
								<td>{{f.anaTime}}s</td>
								<td>{{f.added_date}}</td>
								<td>
									{% if f.maliciousness > 6 %}
									<a class="text-danger" href="{% url 'classification:fileMaliciousness' f.md5 %}">
									{% elif f.maliciousness <= 6 and file.maliciousness >= 4 %}
									<a class="text-warning" href="{% url 'classification:fileMaliciousness' f.md5 %}">
									{% else %}
									<a class="text-success" href="{% url 'classification:fileMaliciousness' f.md5 %}">
									{% endif %}
									{{f.maliciousness}}
									</a>
								</td>
								<td>
									{% if f.ismal %}
									<div class="text-danger">True</div>
									{% else %}
									<div class="text-success">False</div>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
				<div class="clearfix">
	    			<a href="{% url 'classification:index' %}"><button class="btn btn-default pull-right">Return</button></a>
				</div>
		</div>
	</div>
</div>
{% endblock %}