{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h1 class="title" align="center">Welcome !</h1>
				</div>
				<div class="content">
					<table class="table table-hover">
                        <tbody>
                            <tr>
                            	<th>Number of files analized</th>
                        		<th>{{nbfiles}}</th>
                        		<th>Number of malwares detected</th>
                        		<th>{{nbmalwares}} ({{ percentmal }}%)</th>
                        	</tr>
                        </tbody>
                    </table>
                    <div class="content" id="indexChart" style="height: 200px"></div>
                </div>
            </div>
            <div class="card">
                <div class="content" align="center">
                	<form enctype="multipart/form-data" action="{% url 'classification:addNewFiles' %}" method="post" align="center">
						{% csrf_token %}
						{{ form }}
	    				<div class="clearfix">
	    					<button type="submit" class="btn btn-default pull-middle">Submit</button>
						</div>
					</form>
                </div>    			
			</div>
		</div>
	</div>
</div>
{% load highcharts_tags %}
{% highcharts_js 1 0 0 0 %}
<script type="text/javascript">
$(function() {
	$.getJSON("{% url 'classification:ChartIndex' %}", function(data){
	$('#indexChart').highcharts(data);
	});	
})
</script>

{% endblock %}