{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Statistics</h4>
					<br/>
				</div>
				<div class="content">
					
					<table class="table table-hover">
						<thead>
								<tr>
									<th>Files</th>
									<th>Safe</th>
									<th>Malicious</th>
								</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{nbFiles}}</td>
								<td>{{nbSafe}}</td>
								<td>{{nbMal}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card">
				<div class="header">
					<h4 class="title">Random Forest - Parameters</h4>
					<br/>
				</div>
				<div class="content">
					<form action="{% url 'classification:performTraining' %}" method="post">
    					{% csrf_token %}
    					{{ formRF }}
					<br/>
					<div class="clearfix">
	    				<button type="submit" class="btn btn-info pull-right">Train</button>
					</div>
					</form>
				</div>
			</div>
			<div class="card">
				<div class="header">
					<h4 class="title">Naive Bayes - Parameters</h4>
					<br/>
				</div>
				<div class="content">
					<form action="{% url 'classification:performTraining' %}" method="post">
    					{% csrf_token %}
    					{{ formNB }}
					<br/>
					<div class="clearfix">
	    				<button type="submit" class="btn btn-info pull-right">Train</button>
					</div>
					</form>
				</div>
			</div>
			<div class="clearfix">
	    		<a href="{% url 'classification:parameters' %}"><button class="btn btn-default pull-right">Return</button></a>
	    	</div>
		</div>
	</div>
</div>
{% endblock %}