{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Add new malicious string</h4>
					<br/>
				</div>
				<div class="content">
					<form action="#" method="post">
    					{% csrf_token %}
    					{{ formStrings }}
					<br/>
					<div class="clearfix">
	    				<button type="submit" class="btn btn-info pull-right">Add</button>
					</div>
					</form>
				</div>
			</div>
			<div class="card">
				<div class="header">
					<h4 class="title">Current Defined Strings</h4>
					<br/>
				</div>
				<div class="content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Value</th>
								<th>Importance</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for s in strings %}
							<tr>
								<td>{{s.string}}</td>
								<td>{{s.imp}}</td>
								<td><a href="{% url 'classification:delString' s.id %}"><button class="btn btn-danger">Delete</button></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}