{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">List</h4>
				</div>
				<div class="content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Average Score</th>
								<th>Number of files</th>
								<th>Number of malwares</th>
							</tr>
						</thead>
						<tbody>
							{% for c in criterions %}
							<tr>
								<td>{{c.name}}</td>
								<td>{{c.average}}</td>
								<td>{{c.nbFiles}}</td>
								<td>{{c.nbMalwares}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix">
	    		<a href="{% url 'classification:parameters' %}"><button class="btn btn-default pull-right">Return</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}