{% extends 'classification/DashboardStruct.html' %}
{% block body %}
<div class="row">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<a href="{% url 'classification:parametersCriterions' %}"><h4 class="title">Maliciousness Criterions</h4></a>
					<br/>
				</div>
			</div>
			<div class="card">
				<div class="header">
					<a href="{% url 'classification:parametersLearning' %}"><h4 class="title">Malware Decision</h4></a>
					<br/>
				</div>
			</div>
			<div class="card">
				<div class="header">
					<a href="{% url 'classification:parametersStrings' %}"><h4 class="title">Malicious Strings</h4></a>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}